<center><h1>Rádio Master Dancer<h1></center>
    <center><h2>A Web Rádio que só toca Flashback!<h2></center>
        <!--INICIO DO CODIGO SLIDES-->
<!--  Slide de destaques responsivo Easing Slide- Código CSS  -->
<br/>
<div style='text-align:center;'>
<h2><h2></div>
<center><style>
.camera_wrap a, .camera_wrap img,
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img,
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
 background: none;
 border: 0;
 font: inherit; /*fonte da egenda, herda a fonte do texto do blog, troque se desejar outra*/
 font-size: 100%; /*tamanho da fonte, altere se desejar*/
 margin: 0;
 padding: 0;
 vertical-align: baseline;
 list-style: none
}
.camera_wrap {
 direction: ltr;
 display: none;
 float: left;
 position: relative;
 z-index: 0;
}
.camera_wrap img {
 max-width: none!important;
}
.camera_fakehover {
 height: 100%; /*altura total da imagem, diminua ou aumente se desejar*/
 min-height: 60px;
 position: relative;
 width: 100%; /*largura da imagem, não altere*/
 z-index: 1;
}
.camera_wrap {
 width: 100%;
}
.camera_src {
 display: none;
}
.cameraCont, .cameraContents {
 height: 100%;
 position: relative;
 width: 100%;
 z-index: 1;
}
.cameraSlide {
 bottom: 0;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 width: 100%;
}
.cameraContent {
 bottom: 0;
 display: none;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
 width: 100%;
}
.camera_target {
 bottom: 0;
 height: 100%;
 left: 0;
 overflow: hidden;
 position: absolute;
 right: 0;
 text-align: left;
 top: 0;
 width: 100%;
 z-index: 0;
}
.camera_overlayer {
 bottom: 0;
 height: 100%;
 left: 0;
 overflow: hidden;
 position: absolute;
 right: 0;
 top: 0;
 width: 100%;
 z-index: 0;
}
.camera_target_content {
 bottom: 0;
 left: 0;
 overflow: hidden;
 position: absolute;
 right: 0;
 top: 0;
 z-index: 2;
}
.camera_target_content .camera_link {
    background: url();
 display: block;
 height: 100%;
 text-decoration: none;
}
.camera_loader {
   background: #fff url(../images/camera-loader.gif) no-repeat center;
 background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
 border: 1px solid #ffffff;
 -webkit-border-radius: 18px;
 -moz-border-radius: 18px;
 border-radius: 18px;
 height: 36px;
 left: 50%;
 overflow: hidden;
 position: absolute;
 margin: -18px 0 0 -18px;
 top: 50%;
 width: 36px;
 z-index: 3;
}
.camera_bar {
 bottom: 0;
 left: 0;
 overflow: hidden;
 position: absolute;
 right: 0;
 top: 0;
 z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
 height: 100%;
 position: absolute;
 width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
 height: auto;
 position: absolute;
 width: 100%;
}
.camera_nav_cont {
 height: 65px;
 overflow: hidden;
 position: absolute;
 right: 9px;
 top: 15px;
 width: 120px;
 z-index: 4;
}
.camera_caption {
 bottom: 0;
 display: block;
 position: absolute;
 width: 100%;
}
.camera_caption > div {
 padding: 10px 20px;
}
.camerarelative {
 overflow: hidden;
 position: relative;
}
.imgFake {
 cursor: pointer;
}
.camera_prevThumbs {
 bottom: 4px;
 cursor: pointer;
 left: 0;
 position: absolute;
 top: 4px;
 visibility: hidden;
 width: 30px;
 z-index: 10;
}
.camera_prevThumbs div {
 background: url() no-repeat -160px 0;
 display: block;
 height: 40px;
 margin-top: -20px;
 position: absolute;
 top: 50%;
 width: 30px;
}
.camera_nextThumbs {
 bottom: 4px;
 cursor: pointer;
 position: absolute;
 right: 0;
 top: 4px;
 visibility: hidden;
 width: 30px;
 z-index: 10;
}
.camera_nextThumbs div {
 background: url() no-repeat -190px 0;
 display: block;
 height: 40px;
 margin-top: -20px;
 position: absolute;
 top: 50%;
 width: 30px;
}
.camera_command_wrap .hideNav {
 display: none;
}
.camera_command_wrap {
 left: 0;
 position: relative;
 right:0;
 z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 cursor: pointer;
 display: inline-block;
 height: 16px;
 margin: 15px 5px;
 position: relative;
 text-align: left;
 text-indent: 9999px;
 width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
 -moz-box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
 -webkit-box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
 box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 height: 8px;
 left: 4px;
 overflow: hidden;
 position: absolute;
 top: 4px;
 width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
 -moz-box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
 -webkit-box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
 box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
 -moz-box-shadow: 0;
 -webkit-box-shadow: 0;
 box-shadow: 0;
}
.camera_pag_ul li img {
 display: none;
 position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
 top: 0;
 left: 50%;
 margin-left: -4px;
 position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
 cursor: pointer;
 height: 40px;
 margin-top: -20px;
 position: absolute;
 top: 50%;
 width: 40px;
 z-index: 2;
}
.camera_prev {
 left: 0;
}
.camera_prev > span {
 background: url() no-repeat 0 0;
 display: block;
 height: 40px;
 width: 40px;
}
.camera_next {
 right: 0;
}
.camera_next > span {
 background: url() no-repeat -40px 0;
 display: block;
 height: 40px;
 width: 40px;
}
.camera_commands {
 right: 41px;
}
.camera_commands > .camera_play {
 background: url() no-repeat -80px 0;
 height: 40px;
 width: 40px;
}
.camera_commands > .camera_stop {
 background: url() no-repeat -120px 0;
 display: block;
 height: 40px;
 width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 cursor: pointer;
 display: inline-block;
 height: 16px;
 margin: 15px 5px;
 position: relative;
 text-indent: 9999px;
 width: 16px;
}
.camera_thumbs_cont {
 -webkit-border-bottom-right-radius: 4px;
 -webkit-border-bottom-left-radius: 4px;
 -moz-border-radius-bottomright: 4px;
 -moz-border-radius-bottomleft: 4px;
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
 overflow: hidden;
 position: relative;
 width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
 -moz-box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
 -webkit-box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
 box-shadow:
  0px 1px 0px rgba(255,255,255,1),
  inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
 float: left;
 width: 100%;
}
.camera_thumbs_cont ul {
 overflow: hidden;
 padding: 3px 4px 8px;
 position: relative;
 text-align: center;
}
.camera_thumbs_cont ul li {
 display: inline;
 padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
 border: 1px solid;
 cursor: pointer;
 margin-top: 5px;
 vertical-align:bottom;
}
.camera_clear {
 display: block;
 clear: both;
}
.showIt {
 display: none;
}
.camera_clear {
 clear: both;
 display: block;
 height: 1px;
 margin: -1px 0 25px;
 position: relative;
}
.pattern_1 .camera_overlayer {
 background: url(../images/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
 background: url(../images/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
 background: url(../images/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
 background: url(../images/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
 background: url(../images/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
 background: url(../images/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
 background: url(../images/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
 background: url(../images/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
 background: url(../images/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
 background: url(../images/patterns/overlay10.png) repeat;
}
.camera_caption {
 color: #fff; /*cor da fonte da legenda*/
}
.camera_caption > div {
 background: #000; /*cor de fundo da legenda*/
 background: rgba(0, 0, 0, 0.8);
}
.camera_wrap .camera_pag .camera_pag_ul li {
 background: #b7b7b7; /*cor da fonte da legenda*/
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
 background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
 background: #434648;
}
.camera_pag_ul li img {
 border: 4px solid #e6e6e6;
 -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
 -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
 box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: transparent;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
 background: transparent;
 
}
.camera_wrap .camera_pag .camera_pag_ul li {
 background: #b7b7b7;
}
.camera_thumbs_cont ul li > img {
 border-color: 1px solid #000;
}

</style>
<!-- Easing Slide- Códigos Javascript -->
<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<script type='text/javascript' src='https://sites.google.com/site/codigoselainegaspareto/home/responsivobyelainegasparetomobile.js'></script>
<script type='text/javascript' src='https://sites.google.com/site/codigoselainegaspareto/home/responsivobyelainegasparetoeasing.js'></script>
<script type='text/javascript' src='https://sites.google.com/site/codigoselainegaspareto/home/responsivobyelainegasparetoscript.js'></script>
<script>
    jQuery(function() {

        jQuery('#camera_wrap_1').camera({
            time: 1500, // milliseconds between the end of the sliding effect and the start of the nex one
            transPeriod: 1000, // VELOCIDADE DA TRANSIÇÃO
            thumbnails: true, // MOSTRA AS MINIATURAS
            pagination: true, // CONTROLE DE NAVEGAÇÃO
            loader: '',
            /*fx: 'curtainSliceRight, mosaicRandom, mosaicSpiralReverse, blindCurtainTopLeft', stampede, topLeftBottomRight*/
            fx: 'curtainTopLeft, curtainTopRight, curtainBottomLeft, curtainBottomRight, curtainSliceLeft, curtainSliceRight, blindCurtainTopLeft, blindCurtainTopRight, blindCurtainBottomLeft, blindCurtainBottomRight, blindCurtainSliceBottom, blindCurtainSliceTop, stampede, mosaic, mosaicReverse, mosaicRandom, mosaicSpiral, mosaicSpiralReverse, topLeftBottomRight, bottomRightTopLeft, bottomLeftTopRight, bottomLeftTopRight, scrollLeft, scrollRight, scrollHorz, scrollBottom, scrollTop',
            hover: false
        });
    });
    </script>
<style type="text/css">
.fluid_container {
    margin: 0 auto;
    /* aling centered */
    width: 100%;
    max-width: 1000px; // LARGURA MÁXIMA DAS IMAGENS
    overflow: hidden;
}


/* Blogger CSS Conflict Fix */

.camera_pag_ul {
    border: none !important;
    background: none !important;
}

.camera_pag_ul li {
    float: inherit !important;
    padding: inherit !important;
}

.camera_pag_ul {
    margin: 0 !important;
    border: 0 !important;
}
</style>
<div class="fluid_container">
    <!-- camera_slideshow camera_wrap-->
    <div class="camera_wrap" id="camera_wrap_1">

        <div data-link="https://mytuner-radio.com/pt/radio/radio-master-dancer-471098/" data-thumb= "https://1.bp.blogspot.com/-ugTo_Juf9cc/X1unSV1bNzI/AAAAAAAAMv4/NX9mnsXMNuU_bhj7p_8LcXxd4aSaRV8YACLcBGAsYHQ/s0/2.jpeg" data-src="https://1.bp.blogspot.com/-ugTo_Juf9cc/X1unSV1bNzI/AAAAAAAAMv4/NX9mnsXMNuU_bhj7p_8LcXxd4aSaRV8YACLcBGAsYHQ/s0/2.jpeg">
            <div class="camera_caption fadeFromBottom">
                Rádio Master Dancer no My Tuner
            </div>
        </div>

        <div data-link="https://www.radio.net/s/radiomasterdancer" data-thumb="https://1.bp.blogspot.com/-_N7w0lvqHwE/X1unSQupAwI/AAAAAAAAMv0/08O3DnSSHxE9EGZ2hjUeEdBYz1GbeUv8QCLcBGAsYHQ/s0/1.png" data-src="https://1.bp.blogspot.com/-_N7w0lvqHwE/X1unSQupAwI/AAAAAAAAMv0/08O3DnSSHxE9EGZ2hjUeEdBYz1GbeUv8QCLcBGAsYHQ/s0/1.png">
            <div class="camera_caption fadeFromBottom">
                Rádio.Net toca Rádio Master Dancer
            </div>
        </div>

        <div data-link="https://www.cxradio.com.br/radio/radio-master-dancer-manaus" data-thumb="https://1.bp.blogspot.com/-KWiOKttMktg/X1unSWhj_mI/AAAAAAAAMvw/_1_-6stjMzsulmDjNj4vEi3OaBB0fR1pQCLcBGAsYHQ/s0/3.jpg" data-src="https://1.bp.blogspot.com/-KWiOKttMktg/X1unSWhj_mI/AAAAAAAAMvw/_1_-6stjMzsulmDjNj4vEi3OaBB0fR1pQCLcBGAsYHQ/s0/3.jpg">
            <div class="camera_caption fadeFromBottom">
                Ouça na CX Rádio 
            </div>
        </div>

        <div data-link="https://www.radioscast.com.br/ouvir/radio-master-dancer" data-thumb="https://1.bp.blogspot.com/-dj8IC_d8b1M/X1unTRy7b-I/AAAAAAAAMv8/tDw8VOyvgVk0vX3I7AS1pEaSAmDHmkuGACLcBGAsYHQ/s0/4.png" data-src="https://1.bp.blogspot.com/-dj8IC_d8b1M/X1unTRy7b-I/AAAAAAAAMv8/tDw8VOyvgVk0vX3I7AS1pEaSAmDHmkuGACLcBGAsYHQ/s0/4.png">
            <div class="camera_caption fadeFromBottom">
                Ouça na Radio Cast
            </div>
        </div>

        <div data-link="https://pt.streema.com/radios/Radio_Master_Dancer" data-thumb="https://1.bp.blogspot.com/-0Ur17NgIovc/Xm_gmz2BP-I/AAAAAAAAEdA/dJrBnuuHOw0xsEzhYfNjMsGfRiX0h06RQCLcBGAsYHQ/s1600/how-to-add-your-radio-station-to-streema_959859dc378260aea429e8718bdccf34.jpg" data-src="https://1.bp.blogspot.com/-0Ur17NgIovc/Xm_gmz2BP-I/AAAAAAAAEdA/dJrBnuuHOw0xsEzhYfNjMsGfRiX0h06RQCLcBGAsYHQ/s1600/how-to-add-your-radio-station-to-streema_959859dc378260aea429e8718bdccf34.jpg">
            <div class="camera_caption fadeFromBottom">
                Rádio Master Dancer no Streema
            </div>
        </div>
        <div data-link="https://www.raddios.com/16903-radio-online-rodio-master-dancer-online-isle-of-man-reino-unido" data-thumb="https://1.bp.blogspot.com/-o-k1J-i8zaM/X1uuDZafNTI/AAAAAAAAMw8/x_14qA8YHMsDO1aK5H-dj-TOyOdiTF1hwCLcBGAsYHQ/s0/raddios.jpg" data-src="https://1.bp.blogspot.com/-o-k1J-i8zaM/X1uuDZafNTI/AAAAAAAAMw8/x_14qA8YHMsDO1aK5H-dj-TOyOdiTF1hwCLcBGAsYHQ/s0/raddios.jpg">
            <div class="camera_caption fadeFromBottom">
                Ouça na Raddios
    </div>
    <!-- #camera_wrap_1 -->
</div>
<!-- .fluid_container --></div></div><center>
<!--FINAL DO CODIGO DO SLIDE-->
<br/>
    <center><img style="-webkit-user-select: none;margin: auto;" src="https://1.bp.blogspot.com/-6PycMh_cRmQ/XnkUh2p2ISI/AAAAAAAAEiM/DgKZbVumnYwv8Bk4fnL0TtksHXXOfwW_QCLcBGAsYHQ/s320/VINIL%2BCOM%2BBRA%25C3%2587O.gif" width="350" height="250"/><center>
<!-- BEGINS: AUTO-GENERATED MUSES RADIO PLAYER CODE -->
<center><script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
<script type="text/javascript">
MRP.insert({
'url':'https://stream.zenolive.com/gyvdat8p6tzuv.aac',
'codec':'mp3',
'volume':100,
'autoplay':true,
'jsevents':true,
'buffering':0,
'title':'',
'wmode':'transparent',
'skin':'alberto',
'width':450,
'height':95
});
</script></center>
<!-- ENDS: AUTO-GENERATED MUSES RADIO PLAYER CODE -->
<!--PLAYLIST DA RÁDIO-->
<!--OnlineRadioBox Playlist widget-->
<br/>
<center><div class="orbL  cmpct" id="orb_pl_8e9f4714703d98b">
    <style media="screen">
      .orbL{position:relative;box-sizing:border-box;overflow:hidden;font-weight:normal;border:1px solid;text-align:left}.orbL br,.orbL>br{display:none!important;}.orbL p,.orbL>p{margin:0!important;padding:0!important;line-height:normal!important;font-size:inherit!important}.orbL br,.orbL>br{display:none!important}.orbLh{display:block;position:absolute;z-index:100;top:22px;right:10px;margin-top:-12px;width:21px;text-decoration:none!important;cursor:pointer}.orbLh>img{margin:0!important;border:none!important;height:24px!important;-webkit-filter:drop-shadow(2px 2px 0 rgba(47,99,160,.2));filter:drop-shadow(2px 2px 0 rgba(47,99,160,.2))}.orbLt{display:block;box-sizing:border-box;overflow:hidden;padding-left:10px!important;font-weight:normal;line-height:44px!important;min-height:44px;text-decoration:none!important}.orbLti{float:left!important;margin:10px 10px 10px 0!important;height:24px!important;width:44px!important;border:none!important;border-radius:2px!important;opacity:1!important;}.orbLtn{display:block;margin-right:54px!important;font-size:14px!important;font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.orbIL{position:relative;overflow:auto;overflow-x:hidden;overflow-y:auto;margin:0!important;padding:0!important;list-style:none!important}.orbILi{box-sizing:border-box;margin:0!important;padding:0 10px!important;list-style:none!important;background-image:none;float:none!important;height: auto!important}.orbILi>a,.orbILi>span{display:block!important;height:auto!important;font-weight:normal!important;text-decoration:none!important;line-height:32px!important;font-size:14px!important;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;-webkit-transition:color .125s;transition:color .125s:border:none!important}.orbILi>a:hover,.orbILi>span:hover{background:transparent!important}.orbILi>a>time,.orbILi>span>time{display:inline-block;font-size:12px!important;width:3em}.orbILi+li{border-style:solid!important;border-width:1px 0 0!important}.orbILs{margin:0!important;padding:0!important;list-style:none!important;display:-webkit-flex;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;border-style:solid!important;border-width:0 0 1px!important}.orbILsi{display:inline-block!important;margin:0!important;padding:0!important;height:32px!important;overflow:hidden;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;-webkit-box-flex:1;flex:1 1 auto;-webkit-align-self:baseline;-ms-flex-item-align:baseline;align-self:baseline;text-align:center;font-size:11px!important;float:none!important}.orbILsi + li{border-style:solid!important;border-width:0 0 0 1px!important}.orbILsi > a,.orbILsi > span{display:block;line-height:32px!important;text-decoration:none!important;-webkit-transition:color .125s;transition:color .125s}
  /* Compact */
  .cmpct .orbILi>a,.cmpct .orbILi>span{line-height:24px!important;font-size:12px!important}
  .cmpct .orbILi>a>time,.cmpct .orbILi>span>time{font-size:11px!important}
  </style>
  <style media="screen" id="orb_pl_8e9f4714703d98b_settings">/*user customization*/.orbL{width:500px}.orbL{border-style: solid; border-color:#f66507 !important;border-radius:5px;background:#fff !important}.orbLt{background-color:#fb5f06 !important}/*common list title bg*/.orbLtn{color:#ffffff !important}/*common list title color*/.orbIL{height:350px}/*track list height: user height, e.g. 250px - 45px(title) - [33px(schedule, if enabled)] */.orbIL,.orbILs{background:#ffffff !important} /* list bg, schedule bg */.orbILi>a,.orbILi>a:visited,.orbILi>span,.orbILi>a:hover>time,.orbILi.a>a>time,.orbILi.a>span>time{color:#030000 !important} /*item color, hover-item time color, active-item time color */.orbILi>a:hover,.orbILi.a>a,.orbILi.a>span,.orbILsi>a:hover,.orbILsi>span{color:#f00700 !important} /*hover-item color, active-item color, schedule hover-item color, schedule active-item color*/.orbILi>a>time,.orbILi>span>time,.orbILsi>a{color:#000000 !important}/*item time color, schedule item color*/.orbILi.a,.orbILsi.a{background:#eee8e8 !important} /* active-item bg, schedule active-item bg */.orbILs,.orbILi+li,.orbILsi+li{border-color:#0c0000 !important}/* item border color, schedule border color */.orbILs{display:none}</style>
    <a class="orbLh" href="https://onlineradiobox.com/br/" title="Radio Online" target="_blank"><img src="//ecdn.onlineradiobox.com/img/wl.svg" alt="Radio Online" /></a>
    <a class="orbLt" href="https://onlineradiobox.com/br/masterdancer/" target="_blank">
      <img class="orbLti" src="//us0-cdn.onlineradiobox.com/img/logo/5/86125.v8.png" alt="Rádio Master Dancer" /><span class="orbLtn">Rádio Master Dancer</span>
    </a>
    <script>
      var orbpl_w = orbpl_w || { lang: "pt-pt" };
      orbpl_w.cmd = orbpl_w.cmd || [];
      orbpl_w.cmd.push(function() {
        orbpl_w.init("orb_pl_8e9f4714703d98b");
      });
      var s, t; s = document.createElement('script'); s.type = 'text/javascript';
      s.src = "//ecdn.onlineradiobox.com/js/plwidget.min.a1649ec0.js";
      t = document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t);
    </script></div><center>
<!--OnlineRadioBox Playlist widget-->
<!--FINAL DO CODIGO DA PLAYLIST-->
